/* General Styles */
body {
    background-color: #f8faf9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
    background-color: #598652; /* Indigo background */
    color: white;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 15px;
  }
  
  .card-header h3 {
    margin: 0;
  }
  
  .card-body {
    padding: 30px;
  }
  
  .form-group label {
    font-weight: bold;
    color: #333;
  }
  
  .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  
  .form-control:focus {
    border-color: #5a67d8;
    box-shadow: 0 0 5px rgba(90, 103, 216, 0.5);
  }
  
  .btn-primary {
    background-color: #5a67d8;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #339c35;
    transform: scale(1.02);
  }
  
  .alert {
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
  }
  
  .alert-danger {
    background-color: #e53e3e;
    color: white;
  }
  
  .alert-success {
    background-color: #48bb78;
    color: white;
  }
  
  @media (max-width: 767px) {
    .col-md-6 {
      width: 100%;
    }
  }
 