<main>
    <div class="container-fluid">
      <div class="row h-100">
        <div class="col-3">

        </div>
          <div class="col-6">
              <div class="bg" style="background-image: url('images/backpic.avif'); background-size: cover; background-position: center; height: 70vh;">
                  <div class="d-flex flex-column justify-content-center align-items-start h-100 text-white" style="padding-left: 2rem;">
                      <h4 class="display-6" style="font-weight: bold; color: rgb(255, 255, 255);">Welcome to SoftBank</h4>
                      <h5 class="display-8" style="font-weight: bold; color: whitesmoke;">
                          <b>Ensuring your safety and security.</b>
                      </h5>
                      <ul>
                      <a routerLink="/register" class="btn btn-success btn-register">Register Now</a>
                      <!-- <app-create-account></app-create-account> -->
                    </ul>
                  </div>
              </div>
          </div>
          <div class="col-3">

          </div>
      </div>
    </div>
    </main>
    
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
